* { word-wrap: break-word; word-break:break-word; }
body { background-color: #fafafa; color: #555; font: 13px "Droid Sans", Arial, sans-serif; line-height: 1.5em; }
.chat-item { margin-left: 1em; }
.name { margin-left: -1em; font-weight: 700; }
.chat-item .timestamp { color: #bbbaaa; text-align: right; display:none; }
.chat-item:hover .timestamp { display: block; }
.status-item { margin-left: 0em; color: #999; }
.outgoing { color: #999; }
.incoming { color: #4d4d4d; }