* { word-wrap: break-word; word-break:break-word; }
body { background-color: #fafafa; color: #555; font: 13px "Droid Sans", Arial, sans-serif; line-height: 1.5em; }
.chat-item { width: 100%; display: block; padding: 0; margin: 0; }
.message { padding-right: 5.5em; padding-left: 1em; }
.name { font-weight: 700; margin-left: -1em; }
.timestamp { color: #bbbaaa; display: block; float: right; }
.status-item { margin-left: 0em; color: #999; }
.outgoing { color: #999; }
.incoming { color: #4d4d4d; }